@import "_mixins";

@-webkit-keyframes autofill {
  to {
      color: #666;
      background: transparent;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color ease-in-out 0s;
  transition-delay: 5000s;
}

.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.c-red {
	color: #f7685b !important;
}
.error {
  display: block;
  color: #f7685b;
  font-size: 11px !important;
}
label {
  &.label-required:after {
    content: '*';
    color: #0060ff;
  }
}
.t-under {
  text-decoration: underline;
}
.null-image {
  text-align: center;
}
.btnwrap {
  margin-bottom:60px;
}
button {
  display: inline-block;
  background-color: transparent;
  padding:0;
  margin:0;
  border:0;
  border-radius: 4px !important;
}
._right {
  position: absolute;
  right:0;
  top:0;
}
body {
  button, a {
    &.btn, &.btn-primary {
      display: inline-block;
      background-color: transparent;
      padding:0;
      margin:0;
      border:0;
      border-radius: 4px;
      min-width:60px;
      height:auto;
      background-color: #273142;
      // box-shadow: 0 4px 10px 0 rgba(0, 96, 255, 0.1);
      box-shadow: none;
      color: #dee2ec;
    }
    &.btn-normal {
      font-size: 18px;
      font-weight: 700;
      padding:21px 6px 20px;
      border:1px solid #dee2ec !important;
      background-color: #ffffff;
      color:#1b73e8;
      color: #273142;
      &:not(.disabled) {
        background-color: #ffffff !important;
      }
      &:disabled {
        border: solid 1px #dee2ec;
        background-color: #dee2ec !important;
      }
    }
    &.btn-basic {
      font-size: 18px;
      font-weight: 700;
      padding:21px 6px 20px;
      border: solid 1px #1b73e8;
      background-color: #1b73e8;
      color:#fff;
      &:not(.disabled) {
        background-color: #1b73e8 !important;
      }
      &:disabled {
        border: solid 1px #dee2ec;
        background-color: #dee2ec !important;
      }
    }
    &.btn-cancel {
      border: solid 1px #dee2ec;
      background-color: #dee2ec !important;
      color:#fff;
      box-shadow: none;
    }
    &.btn-success {
      background-color: #2ed47a !important;
      color:#fff;
      font-weight: 700;
    }
    &._full {
      width:100%;
    }
    &._small {
      min-width:56px !important;
      padding:10px 20px 9px !important;
      font-size: 12.5px !important;
      font-weight: 700 !important;
    }
    &._ssmall {
      min-width:30px !important;
      padding:5px 10px 3px !important;
      font-size: 12px !important;
      font-weight: 700 !important;
    }
    // &.btn-del, &.btn-danger {
    &.btn-del {
      border: solid 1px #f7685b !important;
      background-color: #f7685b !important;
      color:#fff !important;
    }
    &:disabled {
      border: solid 1px #dee2ec;
      background-color: #dee2ec !important;
    }

    &.btn-add {
      width: 84px;
      height: 34px !important;
      background-color: #0060ff;
      font-size: 14px;
      font-weight: 600;
    }
    &.btn-sm {
      padding:5px 10px 6px;
      color:#fff;
      font-weight: 700;
			background-color: #273142;
			line-height: normal;
    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width:50px;
  padding:8px 10px 7px;
  border-radius: 4px;
  border: solid 1px #dee2ec;
  font-size: 14px;
	vertical-align: middle;
  background :{
    color:#fff;
    image:url('/crm/static/images/icon/ico_select.png');
    size:7px;
    repeat:no-repeat;
    position: right 10px center;
  }
}
select::-ms-expand {
   display: none;
}
input:not([type=radio]):not([type=checkbox]), input.flex-fill, textarea {
// input[type=text], input[type=password], input[type=tell], input[type=email] {
  min-height:10px;
  padding:15px 15px 14px;
  border-radius: 4px;
  background-color: #f3f8ff;
  color:#000;
  &:focus {
    color:#000;
  }
	&:disabled {
		background-color: #efeff4 !important;
	}
}
input::-ms-clear { display: none; }
::-webkit-input-placeholder {
	font-size: 14px;
  color: #9cb2cd !important;
}
::-moz-placeholder {
	font-size: 14px;
  color: #9cb2cd !important;
}
::-moz-placeholder {
	font-size: 14px;
  color: #9cb2cd !important;
}

input[type=radio] {
  vertical-align: middle;
  margin-top:-2px;
  margin-right:10px;
}

.tabwrap {
	display: block;
	&:after {
		content: '';
		display: block;
		clear:both;
	}
	> ul {
		> li {
			float:left;
			a {
				display: block;
				border-bottom:2px solid #fff;
				padding-bottom:6px;
				font-size: 15px;
			}
			&.selected, &:hover {
				a {
					border-bottom:2px solid #0060ff;
					font-weight: 700;
					color: #0060ff;
				}
			}
		}
	}
} // .tabwrap

h2.title {
	display: block;
	font-size: 17px;
	font-weight: 600;
	padding-bottom:20px;
} //h2.title

.card {
	position: relative;
	box-shadow: none;
	border: solid 1px #d7e3f1;
}

.scrlly-box {
  width:100%;
  overflow-y: auto;
}
.data-table {
  min-width:100%;
  padding:0 0 10px;
  border-radius: 4px;
  border: solid 1px #dee2ec;
  background-color: #ffffff;
  thead {
    .checkbox {
      width: 16px;
      height: 16px;
      border-radius: 3px;
      border: solid 2px #d5d5d5;
      box-shadow:none;
      vertical-align: middle;
    }
    th {
      position: relative;
      .checkbox {
        flex:none;
        display: inline-block;
        margin-left:5px;
      }
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #fff;
    }
    tr.row-last {
      td {
        border-bottom:1px solid #dee2ec;
      }
    }
    tr + tr .td-grouped {
      border-top:1px solid #dee2ec;
    }
  }
  tr:hover {
    th, td, .td-grouped {
      background-color: none;
    }
  }
  th {
    color: #4a4f70;
    border-bottom:1px solid #d7e3f1;
  }
  th, td {
    width:auto;
    padding:19px 12px 18px;
    border-right:0;
    font-size: 14px;
    .item-content {
      padding:0;
    }
    &:not(:last-child) {
      border-right:0;
    }
  }
  .empty {
    height:auto;
    padding: 60px 0;
    font-weight: 700;
    background-color: #fff;
  }
  .btn {
    min-width:44px;
    padding-left:5px;
    padding-right:5px;
    line-height: normal;
    background-color: #273142;
    &.btn-primary {
      background-color: #2ed47a;
    }
  }
} //.data-table

// datepicker
.react-datepicker {
  width:100%;
  margin:0 auto;
  border-radius: 0;
  border:0;
  .react-datepicker__header {
    background-color: #fff;
    border-bottom:0;
    padding-top:0;
  }
  .react-datepicker__month-container {
    width:100%;
    .react-datepicker__current-month {
      padding-top:5px;
      font-size: 17px;
    }
    .react-datepicker__header__dropdown {
      padding-top:14px;
      padding-bottom:10px;
      select {
        min-width:80px;
        font-size: 14px !important;
        font-weight: 600;
      }
    }
    .react-datepicker__month {
      margin:0;
    }
    .react-datepicker__day,
    .react-datepicker__day-name,
    .react-datepicker__time-name {
      width: calc(100% / 7);
      width: 36px;
      height: 36px;
      margin:0 4px 0 1px;
      font-size: 13px;
      font-weight: 600;
      line-height: 2.7;
      color: #9cb2cd;
    }
  }
  .react-datepicker__day {
    &.react-datepicker__day--selected {
      width: 36px;
      height: 36px;
      border-radius: 30px;
      background-color: #0060ff;
      color:#fff;
    }
    &:hover {
      width: 36px;
      height: 36px;
      border-radius: 30px;
    }
  }
  .react-datepicker__navigation {
    top:0;
    width:28px !important;
    height:28px !important;
    border-radius: 4px;
    border: solid 0.8px #dee2ec;
    background: {
      color: #ffffff;
      size:8px;
      repeat:no-repeat;
      position:center center;
    }
    &.react-datepicker__navigation--previous {
      left:0;
      background: {
        image:url('/crm/static/images/icon/arrow.png');
      }
    }
    &.react-datepicker__navigation--next{
      right:0;
      background: {
        image:url('/crm/static/images/icon/arrow_2.png');
      }
    }
  }
  .react-datepicker__today-button {
    width: 55px;
    padding:9px 10px 8px;
    margin:10px auto 0;
    border-radius: 4px;
    border: solid 1px #dee2ec;
    background-color: #ffffff;
  }
} // .datepicker
.react-datepicker-popper {
  .react-datepicker__triangle {display: none;}
  .react-datepicker {
    width:340px;
    padding:26px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 96, 255, 0.15);
    .react-datepicker__navigation {
      top:20px;
      &.react-datepicker__navigation--previous {
        left:12px;
      }
      &.react-datepicker__navigation--next{
        right:12px;
      }
    }
    .react-datepicker__month-container {
      .react-datepicker__current-month {
        font-size: 17px;
        font-weight: 600;
      }
      .react-datepicker__day,
      .react-datepicker__day-name,
      .react-datepicker__time-name {
        margin:0 5px 0 4px;
      }
    }
  }
} //.react-datepicker-popper
.react-datepicker__input-container {
  input[type=text] {
    padding: 8px 38px 9px 20px !important;
    font-size: 14px;
    background: {
      color:#fff;
      image:url('/crm/static/images/icon/ic-absenteeschedule.png');
      size:30px;
      repeat:no-repeat;
      position: right center;
    }
  }
} //.react-datepicker__input-container
input.text-date {
  background: {
    color:#fff;
    image:url('/crm/static/images/icon/ic-absenteeschedule.png');
    size:30px;
    repeat:no-repeat;
    position: right center;
  }
}
.app-body {
  .uno-select__control {
    border: solid 1px #dee2ec !important;
  }
  .uno-datepicker {
    button.input-datepicker {
      height:auto;
      // padding-top:9px;
      // padding-bottom:9px;
      // padding-right:30px;
      padding:9px 35px 9px 15px;
      border: solid 1px #dee2ec;
      background: {
        color:#fff;
        image:url('/crm/static/images/icon/ic-absenteeschedule.png');
        size:30px;
        repeat:no-repeat;
        position: right center;
      }
    }
  } //.uno-datepicker
}

.modal {
  // padding-bottom:5px;
  z-index: 10;
  .modal-container {
    min-width:400px;
    > div {
      position: relative;
      padding:30px;
      // padding:0;
      border-radius: 4px;
      .buttons {
        button {
          min-width: 60px;
        }
      }
    }
    i.zmdi-close {
      position: absolute;
      // right:25px;
      // top:30px;
      right:0;
      top:0;
      font-size: 0;
      &::before {
        content: '';
        display: block;
        width:16px;
        height:16px;
        background: {
          image:url('/crm/static/images/icon/ic-close.png');
          size:16px;
          repeat:no-repeat;
          position: 0 0;
        }
      }
    }
    .head {
      position: relative;
      // padding:30px;
      padding-bottom:14px;
      border-bottom: 0;
      .title {
        // font-size: 16px;
        // font-weight: normal;
        max-width:calc(100% - 40px);
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.08px;
        line-height: 1.4;
        color: #000000;
        word-break: keep-all;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left:-30px;
        bottom:0;
        width:calc(100% + 60px);
        height:1px;
        background-color: #d7e3f1;
      }
    }
    .body {
      // padding:30px;
      // margin-top:0;
      .row {
        margin:0;
      }
    }
    .conts {
      min-height:50px;
      padding:30px 0 0;
      line-height: 1.36;
      color: #5f6367;
      p {
        line-height: inherit;
        color:inherit;
      }
    }
    &.modal-findpwd {
      min-width:460px;
      max-width:480px;
    }
    .data-table {
      padding:0;
      border-radius: 4px;
      border: solid 1px #dee2ec;
      th, td {
        width:auto;
        padding:16px 0 15px;
        border-right:0;
        color: #4a4f70;
        .item-content {
          padding:0;
        }
        &:not(:last-child) {
          border-right:0;
        }
      }
      tbody {
        tr:nth-child(even) {
          background-color: #f9fbff;
        }
      }
    }
    > div {
      .buttons {
        // padding:0 30px 0;
        button {
          &.btn-default {
            background-color: #dee2ec;
            color: #ffffff;
          }
          &.btn-primary {
            background-color: #0060ff;
          }
        }
      }
    }
  } //.modal-container
} //.modal

.ant-tooltip {
  max-width:370px;
  .ant-tooltip-arrow {
    z-index: 1;
    bottom:-3.071068px;
    &:before {
      width:13px;
      height:13px;
      background-color: #fff;
      border:1px solid #0060ff;
      z-index: 1;
      // box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
      // transform: translateY(-6.53553px) rotate(45deg);
    }
  }
  .ant-tooltip-inner {
    padding:18px 27px;
    border-radius: 4px;
    border:1px solid #0060ff;
    background-color: #fff;
    color: #484760;
  }
} //.ant-tooltip

.ant-dropdown {
  border: solid 1px #efeff4;
  border-radius: 4px;
  .ant-dropdown-menu {
    li {
      padding:9px 20px;
      border-bottom: solid 1px #efeff4;
      &:last-child {
        border-bottom:0;
      }
    }
  }
} //.ant-dropdown

.login-body {
  top:0;
  .foo-info {
    padding-top:92px;
    text-align: left;
    > div {
      padding-bottom:10px;
      p {
        position: relative;
        display: inline-block;
        padding-left:11px;
        margin-left:7px;
        font-size: 12px;
        span {
          margin-right:1px;
          font-weight: 700;
        }
        &:before {
          content: '';
          position: absolute;
          left:0;
          top:2px;
          display: block;
          width:1px;
          height:10px;
          background-color: #dee2ec;
        }
        &:first-child {
          padding-left:0;
          margin-left:0;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .copyright {
    margin-top:1.8%;
    font-size: 12px;
    line-height: 1.5;
    color: #9cb2cd;
    text-align: left;
    a {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }
  .logo {
    width:100%;
    // height:242px;
    min-height: 121px;
    margin:0 auto 56px;
    background: {
      image:url('/crm/static/images/common/logo-unocarecrm.png');
      size:380px;
      repeat:no-repeat;
      position: center 0;
    }
  }
  .login {
    max-width:460px;
    margin:0 auto;
    background-color: #fff;
    p {
      color: #273142;
    }
    form button {
      margin-top:0;
      font-size: 18px;
      height:auto;
      line-height: inherit;
      border-radius: inherit;
    }
    form button:not(.disabled) {
      background-color: inherit;
    }
    .flex-fill {
      .form-control {
        padding-top: 0;
        // &:first-child {
        //   padding-top:0;
        // }
        .login-input-wrapper {
          width: 460px;
          height: 52px;
          background-color: none;
          border:0;
          padding:0;
          input {
            display: block;
            width: 460px;
            // height: 52px;
            padding:18px 30px 17px;
            background-color: #f3f8ff;
          }
        }
        .input-label {
          display: none;
        }
      }
    }
    .btn-login {
      margin-top:14px;
    }
    .find-password {
      display: block;
      margin-top:14px;
      margin-left: inherit;
      font-size: 14px;
      color: #273142;
      text-align: right;
      text-decoration: none;
    }
    .frm-demo {
      padding-top:112px;
      a {
        color: #0060ff;
      }
    }
    .title-full {
      flex:none;
      padding:26px 0 23px;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px solid #d7e3f1;
      text-align: center;
    }
    &._find {
      color: #273142;
      .form-control {
        p {
          padding-bottom:26px;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.45;
        }
      }
    } //._find
  } //.login
} //.login-body

.page-navi {
  padding-bottom:20px;
  .title {
    &:after {
      content: '>';
      display: inline-block;
      margin:0 8px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
} //.page-navi

.pagination {
  position: relative;
  margin:0 auto;
  padding: 36px 0;
  max-width:80%;
  width:calc(100% - 270px);
  .flex-row {
    display: inline-block;
    width:100%;
    margin:0 auto;
    text-align: center;
  }
  .page-icon {
    display: inline-block;
    // height:auto;
    width: 26px;
    height: 26px;
    margin-right:0;
    background-color: transparent;
    color: #a4b9d2;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right:0;
    }
    &.selected {
      // background-color: #fff;
      background-color: transparent;
      font-weight: 600;
      color: #273142;
    }
    &.page-prev, &.page-next {
      width: 26px;
      height: 26px;
      border-radius: 4px;
      border: solid 1px #dee2ec;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.page-prev {
      margin-right:5px;
      background: {
        image:url('/crm/static/images/icon/arrow.png');
        size:8px;
      }
    }
    &.page-next {
      margin-left:5px;
      background: {
        image:url('/crm/static/images/icon/arrow_2.png');
        size:8px;
      }
    }
  }
  .page-total {
    position: absolute;
    left:15px;
    top:39px;
    .tt {
      display: inline-block;
      margin-right:5px;
      color: #9cb2cd;
    }
  }
} //.pagination
.limit-setter {
  padding: 34px 0;
  margin-right:22px;
  .page-icon {
    width:auto;
    min-width:32px;
    height:36px;
    margin-right:0 !important;
    margin-left:10px;
    padding:9px 17px 8px;
    border-radius: 4px;
    border: solid 1px #dee2ec;
    background-color: #ffffff;
    color: #273142;
    font-size: 14px;
    &.selected {
      border: solid 1px #0060ff;
      background-color: #ffffff;
      color: #0060ff;
      font-weight: 700;
    }
  }
} //.limit-setter

.data-table .limit-setter,
.data-table .pagination {
  padding: 36px 0;
  .page-total {
    top: 34px;
  }
}

.form-control {
  &.required label {
    &:after {
      color: #4a4f70;
    }
  }
} //.form-control

.checkbox {
  cursor: pointer;
} //.checkbox
