@import "_mixins";
@import "_comm";

* {
  margin: 0;padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:active, *:hover {
  outline: none !important;
}
:hover {
  transition: all 0.35s ease;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
a {
  color:inherit;
  text-decoration: none;
}

body {
  color:#273142;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
html, body {
  overflow-y: hidden;
}

/** layout **/
.header-bar {
  z-index: 10;
  &.ui-header {
    height: 70px;
    line-height: 70px;
    color: inherit;
    background: #fff;
    box-shadow: none;
    p, span, a {
      height:auto;
      line-height: normal;
    }
    .header-items {
      position: relative;
      height:100%;
      color: inherit;
      &.left {
        width: 230px;
        padding-left: 33px;
        background-color: #273142;
        color:#fff;
      }
      &.right {
        padding-right:0;
      }
      h1.title {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .flex-between.items-center {
      border-bottom:1px solid #d7e3f1;
    }
  }
  .btn-close {
    position: absolute;
    right:16px;
    width:18px;
    height:18px;
    background: {
      image: url('/crm/static/images/icon/ic-sidemenu-close.png');
      size:16px;
      repeat:no-repeat;
      position: center center;
    }
  }

  .customer-search-bar {
    margin-left:10px;
    input {
      width:340px;
      height:46px;
      padding-left:45px !important;
      padding-right:20px !important;
      background: {
        color: #f3f8ff;
        image: url('/crm/static/images/icon/ic-search.png');
        size:19px;
        repeat:no-repeat;
        position: left 18px center;
      }
    }
    .btn-accent {
      min-width: 30px;
      height: 46px;
      padding:0 20px;
      border-radius: 4px;
      border: solid 1px #dee2ec;
      background-color: #ffffff;
    }
  }
  .me {
    height:100%;
    border-left:1px solid #d7e3f1;
    &._sched {
      padding-left:22px;
      padding-right:22px;
      .btn-sched {
        position: relative;
        max-width:63px;
        padding-top:34px;
        font-size: 12px;
        color: #9cb2cd;
        background: {
          color:#fff;
          image:url('/crm/static/images/icon/ic-absenteeschedule.png');
          size:34px;
          repeat:no-repeat;
          position: center top;
        }
        .alram {
          display: block;
          position: absolute;
          right:16px;
          top:4px;
          width: 10px;
          height: 10px;
          border: solid 2px #ffffff;
          background-color: #0060ff;
          border-radius: 50%;
        }
      }
    }
    &._info {
      position: relative;
      padding-top:20px;
      padding-right:22px;
      padding-left:78px;
      p {
        font-size: 13px;
        font-weight: 600;
        &.fig {
          position: absolute;
          left:22px;
          top:12px;
          display: inline-block;
          width:46px;
          height:46px;
          background: {
            image:url('/crm/static/images/common/img-profile.png');
            size:46px;
            repeat:no-repeat;
            position: center top;
          }
        }
        &.email {
          padding-top:1px;
          font-size: 12px;
          color: #9cb2cd;
          a {
            color:inherit;
            font-size: inherit;
          }
        }
      }
    }
    &._language {
      position: relative;
      padding-left:18px;
      padding-right:18px;
      .btn-lang {
        position: relative;
        max-width:63px;
        padding-top:34px;
        font-size: 12px;
        color: #9cb2cd;
        background: {
          color:#fff;
          image:url('/crm/static/images/icon/ic-language.png');
          size:34px;
          repeat:no-repeat;
          position: center top;
        }
      }
      .lang {
        display: none;
        position: absolute;
        right:15%;
        top:85%;
        background-color: #fff;
        width: 119px;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(235, 235, 235, 0.5);
        border: solid 1px #efeff4;
        z-index: 1;
        li {
          padding:10px 20px;
          line-height: normal;
          height:auto;
          &:first-child {
            border-bottom: solid 1px #efeff4;
          }
          a {
            color: #282828;
          }
        }
      }
    }
    &._power {
      padding-left:18px;
      padding-right:18px;
      .btn-logout {
        position: relative;
        max-width:63px;
        padding-top:34px;
        font-size: 12px;
        color: #9cb2cd;
        background: {
          color:#fff;
          image:url('/crm/static/images/icon/ic-logout.png');
          size:34px;
          repeat:no-repeat;
          position: center top;
        }
      }
    }
  }
}

.err {
  display: block;
  padding-top:8px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #0060ff;
}
.help {
  clear:both;
  margin-top:20px;
  text-align: left;
  li {
    position: relative;
    padding-left:10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    &:before {
      content: '';
      position: absolute;
      left:0;
      top:40%;
      margin-top:-2px;
      display: block;
      width: 4px;
      height: 4px;
      background-color: #273142;
      border-radius: 50%;
    }
  }
}

html, body {
  height:100%;
  overflow: auto;
}
.app-body {
  &.ui-body {
    // position: relative;
    // height:100%;
    // width:100%;
    top:70px;
    .left-navigation {
      width:230px;
      background-color: #273142;
      .ver-scroll {
        padding-bottom:60px;
      }
      .menu {
        background-color:inherit;
        font-size: 16px;
        vertical-align: middle;
        .title {
          padding:11px 15px 11px 21px;
        }
        &.depth-1 {
          padding-left:0;
          .title {
            padding:9px 15px 9px 53px;
          }
        }
      }
    }
    .ico {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right:8px;
      background: {
        size:24px;
        repeat:no-repeat;
        position: center center;
      }
      vertical-align: bottom;
      &.ic-home {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-home.png');
        }
      }
      &.ic-calender {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-calendar.png');
        }
      }
      &.ic-consult {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-consult.png');
        }
      }
      &.ic-msg {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-message.png');
        }
      }
      &.ic-inq {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-inquiry.png');
        }
      }
      &.ic-stat {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-statistics_2.png');
        }
      }
      &.ic-setting {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-statistics.png');
        }
      }
      &.ic-hospital {
        background: {
          image:url('/crm/static/images/icon/ic-sidemenu-hospital.png');
        }
      }
    }
  } //&.ui-body

  .flex-fill {
    &.route {
      min-height:100%;
      height:100%;
      background-color: #f3f8ff;
      padding:0;
    }
    label.title {
      display: block;
      margin-bottom:20px;
      font-size: 17px;
      font-weight: 600;
      color: #273142;
    }
    .left-panel {
      width: 340px;
      min-height:100%;
      padding-bottom:60px;
      margin-right:0;
      background-color: #ffffff;
      border-right:1px solid #d7e3f1;
    }
    .right-panel {
      min-width:auto;
      height:100%;
      min-height:100%;
      padding:17px 20px 20px;
      background-color: #f3f8ff;
    }
    // home
    .form-control {
      padding-top:30px;
      margin-bottom:14px;
      > label {
        display: block;
        margin-bottom:20px;
        font-size: 17px;
        font-weight: 600;
        color: #273142;
      }
      &.filters {
        .filter-wrap {
          display: flex;
        }
        .filter {
          position: relative;
          flex:1;
          margin-right:12px;
          margin-bottom:0;
          &:last-child {
            margin-right:0;
          }
          select {
            padding:8px 5px 7px;
          }
          // &:after {
          //   content: '';
          //   position: absolute;
          //   top:37%;
          //   right:10px;
          //   border: solid black;
          //   border-width: 0 1px 1px 0;
          //   display: inline-block;
          //   padding: 2px;
          //   transform: rotate(45deg);
          //   -webkit-transform: rotate(45deg);
          // }
        }
      }
      &.appointments-find-by {
        .flex-row {
          position: relative;
          input {
            padding-left:45px;
          }
          .btn-search {
            position: absolute;
            left:18px;
            top:50%;
            margin-top:-15px;
            width:30px;
            height:30px;
            background: {
              image:url('/crm/static/images/icon/ic-search.png');
              repeat:no-repeat;
              size:19px;
              position: left  center;
            }
          }
        }
      }
    }
    .home {
      height:100%;
      .btn-fold {
        display: block;
        width:100%;
        padding:9px 9px 9px 30px;
        border-bottom:1px solid #d7e3f1;
        text-align: left;
        font-size: 11px;
        font-weight: 700;
        color: #9cb2cd;
        background: {
          color: #f9fbff;
          image:url('/crm/static/images/icon/icon-foldarrow.png');
          repeat:no-repeat;
          size:11px;
          position: left 9px center;
        }
      }
      .flex-row {
        min-height:100%;
        &.appointments-by-status {
          height:auto;
          min-height:auto;
          margin-top:20px;
        }
      }
      .right-panel {
        > .header {
          &:after {
            @extend %clearer;
          }
        }
      }

      .form-control {
        padding-left:20px;
        padding-right:20px;
      }
      .appointments-card {
        width:310px;
        margin-bottom:0;
        margin-right:20px;
        .zmdi-chevron-up {
          &:before {
            content: '';
            display: inline-block;
            width:13px;
            height:13px;
            background: {
              image:url('/crm/static/images/icon/ic-down-arrow.png');
              repeat:no-repeat;
              size:13px;
              position: center center;
            }
          }
        }
        .zmdi-chevron-down {
          &:before {
            content: '';
            display: inline-block;
            width:13px;
            height:13px;
            background: {
              image:url('/crm/static/images/icon/ic-down-arrow.png');
              repeat:no-repeat;
              size:13px;
              position: center center;
            }
            transform: rotate(180deg);
          }
        }
        .header {
          background-color: #273142;
          .title {
            color:#fff;
          }
        }
        .items {
          max-height:500px;
          .appointment {
            padding:12px;
          }
          .schedule {
            padding:0;
            margin-right:30px;
            div {
              font-size: 13px;
            }
            div:last-child:before {
              content: '-';
              display: inline-block;
              vertical-align: middle;
            }
            .text-center {
              display: none;
            }
          }
          .info {
            div {
              padding:1px 0;
            }
            .basic {
              font-weight: 700;
              .lines-1 {
                width:auto;
              }
            }
            .first-visit {
              width: 34px;
              height: 17px;
              margin-right:5px;
              border-radius: 2px;
              border: solid 1px #4a90e2;
              background-color: rgba(74, 144, 226, 0.1);
              font-size: 12px;
              color: #0060ff;
              text-align: center;
            }
            .second-visit {
              width: 34px;
              height: 17px;
              margin-right:5px;
              border-radius: 2px;
              border: solid 1px #9cb2cd;
              background-color: rgba(156, 178, 205, 0.1);
              font-size: 12px;
              color: #9cb2cd;
              text-align: center;
            }
            .new-patient {
              width: 34px;
              height: 17px;
              margin-right:5px;
              border-radius: 2px;
              border: solid 1px #ff508c;
              background-color: rgba(255, 80, 140, 0.1);
              font-size: 12px;
              color: #ff508c;
              text-align: center;
            }
            .origin-patient {
              width: 34px;
              height: 17px;
              margin-right:5px;
              border-radius: 2px;
              border: solid 1px #9cb2cd;
              background-color: rgba(156, 178, 205, 0.1);
              font-size: 12px;
              color: #9cb2cd;
              text-align: center;
            }
          }
          .counselor-doctor.flex-wrap {
            margin-top:11px;
            text-align: right;
          }
        }
        &.waiting {
          .items {
            max-height:800px;
          }
        }
      }
      .notices {
        padding-top:25px;
        padding-left:20px;
        padding-right:20px;
        margin-bottom:14px;
        // > label {
        //   display: block;
        //   font-size: 17px;
        //   font-weight: 600;
        //   color: #273142;
        // }
        .notice-items {
          padding:0;
          border:0;
          max-height:auto;
        }
        .notices-empty {
          height:auto;
          padding:50px;
          margin-bottom:5px;
          background-color: #fffaf3;
          border-radius: 4px;
        }
        .btn-wrt {
          padding:12px 0 11px;
          color:#fff;
          font-weight: 700;
          background-color: #9cb2cd;
        }
        .notice {
          padding: 15px;
          margin-bottom:10px;
          border-radius: 4px;
          border-bottom:0;
          &:nth-child(4n+1) { background-color: #fffaf3; }
          &:nth-child(4n+2) { background-color: #fff9f9; }
          &:nth-child(4n+3) { background-color: #f3fbff; }
          &:nth-child(4n+4) { background-color: #f3fbff; }
          .top {
            &:after {
              @extend %clearer;
            }
          }
          textarea.memo {
            min-height: 100px;
            padding:0;
            line-height: 1.5;
            background-color: transparent;
          }
        }
        .user-name {
          font-weight: 700;
        }
        .buttons {
          position: relative;
          float:right;
          text-align: right;
          .more {
            position: absolute;
            right:0;
            top:0;
            padding:5px;
            background-color: #fff;
            .btn {
              display: block;
            }
          }
        }
        .btn-more {
          display: inline-block;
          width:20px;
          height:20px;
          background: {
            image:url('/crm/static/images/icon/ic-more.png');
            repeat:no-repeat;
            size:19px;
            position: right top;
          }
        }
      }
    } //.home
  } //.flex-fill.route

  .route>.detail {
    .card {
      .header {
        .title {
          font-size: 17px;
          font-weight: 600;
          color: #273142;
        }
      }
    }
  } //.route>.detail

  .appointment-boards {
    z-index: 1;
    &.route {
      padding:0;
      height:100%;
      min-height:100%;
      background-color: #f3f8ff;
      &:before {
        content: '';
        position: fixed;
        left:230px;
        bottom:0;
        display: block;
        width:340px;
        height:100%;
        background-color: #ffffff;
        border-right:1px solid #d7e3f1;
        z-index: 0;
      }
    }
    .left-panel {
      position: relative;
      padding:20px 16px;
      // &:before {
      //   content: '';
      //   position: fixed;
      //   left:230px;
      //   bottom:0;
      //   display: block;
      //   width:340px;
      //   height:100%;
      //   background-color: #ffffff;
      //   border-right:1px solid #d7e3f1;
      //   z-index: 0;
      // }
      // * {
      //   position: relative;
      //   z-index: 1;
      // }
    }
    .right-panel {
      position: relative;
      padding:20px 0 0;
      .route-top {
        position: absolute;
        top:30px;
        right:40px;
        margin-bottom:0;
        .stats {
          font-size: 14px;
          .ti {
            display: inline-block;
            margin-left:5px;
            margin-right:2px;
            color: #9cb2cd;
          }
        }
      }
      .header {
        padding-left:20px;
        padding-bottom:20px;
        .date-functions {
          button {
            width: 46px;
            height: 36px;
            border: solid 1px #dee2ec;
            background-color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
            box-shadow: none;
            &.selected {
              color:#000;
              font-weight: 700;
            }
          }
        }
      }
      .draggable.has-appointment {
        border-radius: 0;
      }
      .cell, .department-category-name {
        // min-width:180px;
        border-right: 1px solid #d7e3f1;
        border-bottom: 1px solid #d7e3f1;
      }
      .cell {
        background-color: #fff;
      }
      .department-category-name {
        font-size: 14px;
        font-weight: 600;
        color: #273142;
        &:hover {
          box-shadow:none;
        }
      }
      .department {
        .cell {
          font-size: 12px;
          color: #273142;
          text-align: center;
          word-break: keep-all;
          &:hover {
            box-shadow:none;
            -webkit-box-shadow:inset 0px 0px 0px 1px #273142;
            -moz-box-shadow:inset 0px 0px 0px 1px #273142;
            box-shadow:inset 0px 0px 0px 1px #273142;
            transition: none;
          }
        }
      }
      .draggable  {
        .cell {
          font-size: 13px;
          &:hover {
            box-shadow:none;
            -webkit-box-shadow:inset 0px 0px 0px 1px #273142;
            -moz-box-shadow:inset 0px 0px 0px 1px #273142;
            box-shadow:inset 0px 0px 0px 1px #273142;
            transition: none;
          }
        }
      }
      .status {
        border-radius: 6px;
        border: 1px solid;
        border-top-width: 3px;
        color: #273142;
        &.unvisited {
          background-color: #fff5ef;
          border-color: #ff9450;
          &:hover {
            -webkit-box-shadow:inset 0px 0px 0px 1px #ff9450;
            -moz-box-shadow:inset 0px 0px 0px 1px #ff9450;
            box-shadow:inset 0px 0px 0px 1px #ff9450;
            transition: none;
          }
        }
        &.waiting {
          background-color: #ecfafa;
          border-color:#31d0d3;
          &:hover {
            -webkit-box-shadow:inset 0px 0px 0px 2px #31d0d3;
            -moz-box-shadow:inset 0px 0px 0px 2px #31d0d3;
            box-shadow:inset 0px 0px 0px 2px #31d0d3;
          }
        }
        &.scheduled {
          background-color: #f2f3ff;
          border-color:#897dff;
          &:hover {
            -webkit-box-shadow:inset 0px 0px 0px 2px #f2f3ff;
            -moz-box-shadow:inset 0px 0px 0px 2px #f2f3ff;
            box-shadow:inset 0px 0px 0px 2px #f2f3ff;
          }
        }
        &.lunch {
          border-radius: 0;
          border:0;
          background-color: rgba(74, 74, 74, 0.05);
          &:hover {
            box-shadow:none;
          }
        }
        .status {
          border:0;
          border-radius: 0;
        }
      }

      .conditional-board {
        margin-left:-1px;
        padding-right:40px;
        background-color: #f3f8ff;
        border-left:1px solid #d7e3f1;
        overflow: hidden;
        .current-timeline {
          width:calc(100% - 40px);
          background-color: #0060ff;
          z-index: 1;
          .now-time {
            display: inline-block;
            border-radius: 2px;
            padding:2px 3px;
            background-color: #0060ff;
            font-size: 10px;
            text-align: center;
            color: #ffffff;
            margin-top:-16px;
            vertical-align: middle;
          }
        }
        .table {
          border-left:0;
          border-top: 1px solid #d7e3f1;
          &.leftmost {
            .cell {
              padding:19px 15px 0 0;
              font-size: 14px;
              font-weight: 600;
              text-align: right;
              color: #9cb2cd;
            }
          }
        }
      } //.conditional-board
    }
    .appointments-find-by {
      margin-bottom:40px;
    }
    .regions {
      display: block;
      grid-template-columns:auto;
      grid-gap:0;
      max-height:350px;
      margin-top:0;
      overflow-y:auto;
      .region {
        position: relative;
        margin-right:0;
        padding:12px 0;
        font-size: 14px !important;
        &:first-child {
          padding-top:5px;
          .box {
            top:5px;
          }
        }
        .box {
          position: absolute;
          right:0;
          top:10px;
          max-width:19px;
          width:19px;
          height:19px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .status.scheduled {
          background-color: #897dff;
        }
        .status.waiting {
          background-color: #31d0d3;
        }
        .status.unvisited {
          background-color: #ff9450;
        }
        .status.consulting {
          background-color: #13b0e0;
        }
        .status.treating {
          background-color: #0060ff;
        }
        .status.consulted {
          background-color: #ff508c;
        }
        .status.done {
          background-color: #484860;
        }
      }
    } //.regions
  } //.appointment-boards

  .right-panel {
    .date-functions {
      // position: relative;
      float:left;
      max-width:50%;
      .btn {
        display: inline-block;
        min-width: 36px;
        height: 36px;
        border: solid 1px #dee2ec;
        background-color: #ffffff;
        &.btn-left {
          background: {
            image:url('/crm/static/images/icon/arrow.png');
            size:7px;
            repeat:no-repeat;
            position: center center;
          }
        }
        &.btn-right {
          background: {
            image:url('/crm/static/images/icon/arrow_2.png');
            size:7px;
            repeat:no-repeat;
            position: center center;
          }
        }
      }
    }
    .react-datepicker-wrapper {
      margin-right:0;
      margin-left:-8px;
      max-width:140px;
      input {
        background-color: transparent;
        border:0;
        padding:0;
        font-size: 14px;
        font-weight: 600;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .absence-info {
      // position: absolute;
      // top:30px;
      // right:20px;
      float:right;
      max-width:500px;
      height:17px;
      margin-top:15px;
      @include ellipse(1);
      font-weight: 500;
      text-align: right;
      .ti {
        display: inline-block;
        margin-right:10px;
        color:#9cb2cd;
        font-weight: inherit;
      }
    }
  } // .right-panel
} //.app-body

.page-navi {
  padding-bottom:20px;
  .title {
    &:after {
      content: '>';
      display: inline-block;
      margin:0 8px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
} //.page-navi

.organizations {
  height:100%;
  min-height:100%;
  padding:20px;
  // .route-top {display: none;}
  > .card {
    margin:-20px 0 0 -20px;
  }
  .card {
    height:100%;
    min-height:100%;
    padding:0;
    border-radius: 0;
    box-shadow: none;
    > .flex-row {
      min-height:100%;
    }
    .card-title {
      font-size: 17px;
    }
  }
  .organizations-tree {
    min-width:340px;
    padding:24px;
    margin-right:0;
    border-top:0;
    .tree-title {
      font-size: 17px;
      color: #273142;
      background-color: #fff;
    }
    .draggable-demo {
      min-height:500px;
      border-radius: 4px;
      border: solid 1px #dee2ec;
    }
  }
  .rc-tree {
    padding:10px 20px;
    li {
      span.rc-tree-checkbox,
      span.rc-tree-iconEle,
      span.rc-tree-switcher {
        width: 28px;
        height: 28px;
        background: {
          image:url('/crm/static/images/icon/ic-folder-spread-m.png');
          size:28px;
          repeat:no-repeat;
          position: left top -4px;
        }
        &.rc-tree-switcher_close {
          background: {
            image:url('/crm/static/images/icon/ic-folder-folding-m.png');
          }
        }
      }

      .rc-tree-node-content-wrapper {
        width:calc(100% - 30px);
        span.rc-tree-checkbox,
        span.rc-tree-iconEle,
        span.rc-tree-switcher {
          background: {
            image:url('/crm/static/images/icon/ic-tree-more.png');
            size:19px;
            repeat:no-repeat;
            position: center top 25%;
          }
          .anticon {display: none;}
        }
      } //.rc-tree-node-content-wrapper
      .rc-tree-node-content-wrapper {
        height:52px;
        font-size: 14px;
      }
      .rc-tree-child-tree {
        span.rc-tree-checkbox,
        span.rc-tree-iconEle,
        span.rc-tree-switcher {
          width: 28px;
          height: 28px;
          background: {
            image:url('/crm/static/images/icon/ic-folder-spread-s.png');
            size:28px;
            repeat:no-repeat;
            position: left top -6px;
          }
          &.rc-tree-switcher_close {
            background: {
              image:url('/crm/static/images/icon/ic-folder-folding-s.png');
            }
          }
        }
        .rc-tree-treenode-selected {
          span.rc-tree-checkbox,
          span.rc-tree-iconEle,
          span.rc-tree-switcher {
            &.rc-tree-switcher_close {
              background: {
                image:url('/crm/static/images/icon/ic-folder-folding-s_2.png');
              }
            }
          }
        } //.rc-tree-treenode-selected
        .rc-tree-node-content-wrapper {
          span.rc-tree-checkbox,
          span.rc-tree-iconEle,
          span.rc-tree-switcher {
            background: {
              image:url('/crm/static/images/icon/ic-tree-more.png');
              size:19px;
              repeat:no-repeat;
              position: center top 25%;
            }
            .anticon {display: none;}
          }
        } //.rc-tree-node-content-wrapper
      } //.rc-tree-child-tree
      .rc-tree-node-selected {
        background-color: #fff;
        border: 0;
        opacity: 1;
        color: #0060ff;
        font-weight: 700;
      } //.rc-tree-node-selected
    }
  }

  .search-bar {
    position: relative;
    display: block;
    min-width:1000px;
    max-width:1240px;
    .search-item {
      display: inline-block;
      input {
        min-width:300px;
        padding: 13px 15px 12px;
        background-color: #fff;
      }
      select {
        min-width:150px;
        height: 46px;
        color: #9cb2cd;
        font-size: 14px;
      }
      button {
        font-size: 14px;
      }
      .btn-sm {
        min-width: 70px;
        height: 46px;
        border-radius: 4px;
        border: solid 1px #dee2ec;
        background-color: #ffffff;
      }
      .right {
        position: absolute;
        right:0;
        bottom:5px;
        .btn-sm {
          width: 124px;
          height: 34px;
          box-shadow: 0 4px 10px 0 rgba(0, 96, 255, 0.1);
          background-color: #0060ff;
          color:#fff;
        }
      }
      &.title {
        display: block;
        padding-bottom:11px;
        font-size: 17px;
      }
    }
  }

  .data-table {
    min-width:1000px;
    max-width:1240px;
    border-radius: 4px;
    border: solid 1px #dee2ec;
    tbody {
      tr:nth-child(odd) {
        background-color: #fff;
      }
      tr {
        background-color: #f9fbff;
      }
    }
    th {
      color: #4a4f70;
      border-bottom:1px solid #d7e3f1;
    }
    th, td {
      width:auto;
      padding:17px 0;
      border-right:0;
      .item-content {
        padding:0;
      }
      &:not(:last-child) {
        border-right:0;
      }
    }
    .empty {
      height:auto;
      padding: 60px 0;
      font-weight: 700;
      background-color: #fff;
    }
  }

} //.organizations
.organizations-view {
  min-width:1000px;
  padding:20px;
  background-color: #f3f8ff;
  .data-area {
    max-height:inherit;
  }
  .organ-section {
    height:auto;
    background-color: #fff;
    &.organizations-list {
      background-color: transparent;
    }
  } //.organ-section

  .organizations-detail {
    max-width:1240px;
    .profile {
      max-width:168px;
      max-height:inherit;
      min-height:222px;
      margin-right:0;
      border-right:0;
      background-color: #fff;
      padding:9px;
      background: {
        image:url('/crm/static/images/common/img-profile.png');
        size:92px;
        repeat:no-repeat;
        position: center center;
      }
      img {
        flex:none;
        min-width:150px;
        width:100%;
        height:auto;
        // border:9px solid #fff;
      }
    }
    .profile-data {
      max-height:inherit;
      min-height:222px;
      th, td {
        padding:17px 19px;
      }
      th {
        background-color: #f9fbff;
        color: #4a4f70;
        font-weight: 400;
        text-align: left;
      }
    }
  } //.organizations-detail
} //.organizations-view

.pagination {
  margin:0 auto;
  padding: 36px 0;
  .flex-row {
    display: inline-block;
    width:100%;
    margin:0 auto;
    text-align: center;
  }
  .page-icon {
    display: inline-block;
    height:auto;
    margin-right:0;
    background-color: #fff;
    color: #a4b9d2;
    font-size: 14px;
    &:not(:last-child) {
      margin-right:0;
    }
    &.selected {
      background-color: #fff;
      font-weight: 600;
      color: #273142;
    }
  }
}

.organizations-staff {
  // padding:20px;
  .data-table {
    background-color: #fff;
    .checkbox {
      width: 16px;
      height: 16px;
      border-radius: 3px;
      border: solid 2px #d5d5d5;
      box-shadow:none;
      vertical-align: middle;
    }
    table {
      min-width:1000px;
    }
    th {
      position: relative;
      .checkbox {
        flex:none;
        display: inline-block;
        margin-left:5px;
      }
    }
    td {
      .item-content {
        span {
          color: #0060ff;
        }
      }
    }
    button {
      min-width:50px;
      height:22px;
      line-height: 21px;
      &.btn-edit {
        background-color: #2ed47a;
      }
      &.btn-warning {
        background-color: #273142;
      }
      &.btn-danger {
        background-color: #f7685b;
      }
      &.btn-settings {
        background-color: #0060ff;
      }
    }
    .pagination {
      padding:36px 0;
    }
  } //.data-table

  .organ-section {
    height:auto;
    background-color: #fff;
    &.organizations-list {
      background-color: transparent;
    }
  } //.organ-section

  .organizations-detail {
    max-width:1000px;
    margin-top:20px;
    .profile {
      max-width:168px;
      max-height:inherit;
      min-height:222px;
      margin-right:0;
      border-right:0;
      background-color: #fff;
      padding:9px;
      background: {
        image:url('/crm/static/images/common/img-profile.png');
        size:92px;
        repeat:no-repeat;
        position: center center;
      }
      img {
        flex:none;
        min-width:150px;
        width:100%;
        height:auto;
        // border:9px solid #fff;
      }
    }
    .profile-data {
      max-height:inherit;
      min-height:222px;
      th, td {
        padding:17px 19px;
      }
      th {
        background-color: #f9fbff;
        color: #4a4f70;
        font-weight: 400;
        text-align: left;
      }
    }
  } //.organizations-detail
} //.organizations-staff

.table-round {
  max-width:850px;
  margin-bottom:10px;
  border:1px solid #dee2ec;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.organizations-users {
  .card {
    max-width:850px;
    background-color: transparent;
    .card-title {
      p {
        padding-top:10px;
        button {
          min-width:250px;
          padding:15px 20px;
          border: solid 1px #dee2ec;
          color: #9cb2cd;
          font-weight: 400;
          text-align: left;
          background :{
            color:#fff;
            image:url('/crm/static/images/icon/ico_select.png');
            size:7px;
            repeat:no-repeat;
            position: right 10px center;
          }
        }
      }
    }
  }
  .user-contents {
    .card {
      margin-bottom:33px !important;
      table {
        width:100%;
        background-color: transparent;
        th {
          padding-left:19px;
          font-weight: 500;
          text-align: left;
          background-color: #f9fbff;
        }
        td {
          padding:7px 18px;
          input:not([type=radio]):not([type=checkbox]),
          input.flex-fill,
          select {
            width:80%;
            padding:9px 20px;
            text-align: left;
            font-size: 14px;
          }
        }
        tbody {
          th, td {
            background: {
              color:transparent;
            }
          }
        }
        tr:first-child {
          td {
            padding-top:14px;
          }
        }
        tr:last-child {
          td {
            padding-bottom:14px;
          }
        }
        .menu-row {
          border-bottom: solid 1px #dee2ec;
          background: {
            color:transparent;
          }
          &:last-child {
            border-bottom:0;
          }
          &.open {
            td {
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                top:45%;
                right:20px;
                width:10px;
                height:10px;
                background: {
                  image:url('/crm/static/images/icon/ic-down-arrow.png');
                  size:10px;
                  repeat:no-repeat;
                  position: 0 0;
                }
              }
            }
          }
          &.close {
            td {
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                top:35%;
                right:20px;
                width:10px;
                height:10px;
                background: {
                  image:url('/crm/static/images/icon/ic-down-arrow.png');
                  size:10px;
                  repeat:no-repeat;
                  position: 0 0;
                }
                transform: rotate(-180deg);
              }
            }
          }
        }
        .m-r-8 {
          margin-right:20px !important;
        }
      }
    }
    .organizations-input {
      .profile {
        max-width:168px;
        max-height:inherit;
        height:auto;
        min-height:auto;
        margin-right:20px;
        .pic {
          min-height:222px;
          background-color: #fff;
          padding:9px;
          margin-bottom:10px;
          border-radius: 4px;
          border: solid 1px #dee2ec;
          background: {
            image:url('/crm/static/images/common/img-profile.png');
            size:92px;
            repeat:no-repeat;
            position: center center;
          }
          img {
            flex:none;
            min-width:150px;
            width:100%;
            height:auto;
          }
        }
        button.btn.btn-primary {
          width:100%;
          padding:9px 0;
          box-shadow: 0 4px 10px 0 rgba(0, 96, 255, 0.1);
          background-color: #0060ff;
        }
        p {
          padding-top:15px;
          font-size: 12px;
          color: #9cb2cd;
        }
      }
    }
    .auth-card {
      table {
        th, td {
          padding:17px 0;
          text-align: center;
        }
        th {
          background-color: #fff;
          border-bottom: solid 1px #dee2ec;
        }
        td {
          text-align: left;
        }
        tbody {
          th {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .btnwrap {
    display: block;
    max-width:850px;
    text-align: right;
    .btn {
      flex:none;
      margin-right:0 !important;
      margin-left:8px;
      width: 84px;
      height: 34px;
      box-shadow: 0 4px 10px 0 rgba(0, 96, 255, 0.1);
      color:#fff;
      &.btn-cancel {
        background-color: #dee2ec;
      }
      &.btn-save {
        background-color: #0060ff;
      }
    }
  }
} //.organizations-users
.modal {
  .modal-container {
    .modal-frequently-authority {
      min-width:580px;
      padding:0;
      .head {
        padding:36px 40px 17px;
        border: solid 1px #d7e3f1;
        .title {
          font-size: 22px;
          font-weight: 700;
        }
      }
      .body {
        padding:30px;
      }
      .buttons {
        padding:30px;
        margin-top:0;
        .btn {
          box-shadow: 0 4px 10px 0 rgba(0, 96, 255, 0.1);
          background-color: #0060ff;
        }
      }
    }
  }
} //.modal-frequently-authority

.clinic-info {
  padding:20px;
  .card {
    max-width:850px;
    background: transparent;
    padding: 24px 16px;
    border-radius: 0;
    box-shadow: none;
    .table-round {
      padding:10px 45px 25px;
      .form-control{
        > label {
          margin-bottom:8px;
          font-size: 14px;
        }
        > div {
          max-width:50%;
          padding:9px 20px;
          border-radius: 4px;
          border: solid 1px #dee2ec;
          background-color: #efeff4;
        }
      }
    }
  }


} //.clinic-info


.login-body {
  top:0;
  .copyright {
    margin-top:24.2%;
    font-size: 14px;
    line-height: 1.5;
    color: #273142;
    text-align: center;
    a {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }
  .logo {
    width:379px;
    height:242px;
    margin:0 auto;
    background: {
      image:url('/crm/static/images/common/logo-unocarecrm.png');
      size:379px;
      repeat:no-repeat;
      position: center 0;
    }
  }
  .login {
    background-color: #fff;
    form button {
      margin-top:0;
      font-size: 18px;
      height:auto;
      line-height: inherit;
      border-radius: inherit;
    }
    form button:not(.disabled) {
      background-color: inherit;
    }
    .form-control {
      .login-input-wrapper {
        width: 460px;
        height: 52px;
        background-color: none;
        border:0;
        padding:0;
        input {
          display: block;
          width: 460px;
          // height: 52px;
          padding:18px 30px 17px;
          background-color: #f3f8ff;
        }
      }
      .input-label {
        display: none;
      }
    }
    .btn-login {
      margin-top:14px;
    }
    .find-password {
      display: block;
      margin-top:46px;
      margin-left: inherit;
      font-size: 14px;
      color: #273142;
      text-align: center;
      text-decoration: none;
    }
    .title-full {
      flex:none;
      padding:26px 0 23px;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px solid #d7e3f1;
      text-align: center;
    }
    &._find {
      color: #273142;
      .form-control {
        p {
          padding-bottom:26px;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.45;
        }
      }
    } //._find
  } //.login
} //.login-body



@import "_response";
