
.react-contextmenu-wrapper {
	min-height: 500px;
	.title {
		font-size: 25px;
		font-weight: bold;
		line-height: 25px;
		margin-bottom: 25px;
		color: #333;
		line-height: 1.2;
		span {
			cursor: pointer;
			&:not(:first-child):before {
				content: " > ";
			}
		}
	}
}
.wrap-resource {
	min-height: 100%;
	.sub-title {
		margin: 10px 0;
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 20px;
		color: #333;
	}
	.wrap-folder, .wrap-file {
		position: relative;
		margin-bottom: 50px;
		.btn-create-folder {
			position: absolute;
			width: 150px;
			height: 40px;
			border-radius: 8px;
			right: 10px;
			top: -10px;
			background: #1A64F7;
			border: 0;
			color: #fff;
		}
		ul {
			display: grid;
			grid-gap: 0;
			grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
			li {
				position: relative;
				font-size: 15px;
				margin: 10px;
				border: 1px solid #efeff4;
				background: #fff;
				border-radius: 8px;
				cursor: pointer;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				user-select: none;
				box-shadow: 0 0 0 0px rgba(191, 170, 255, 0);
				transition: box-shadow 0.1s;
				.thumb {
					transition: box-shadow 0.1s;
				}
			}
		}
	}
	.folder {
		li {
			display: flex;
			align-items: center;
			padding: 10px 20px;
			&::before {
				content:"";
				display: inline-block;
				position: relative;
				flex: 0 0 25px;
				width: 25px;
				height: 25px;
				background: rgb(184, 184, 184);
				margin-right: 10px;
			}
			p {
				margin: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			&.select {
				box-shadow: 0 0 10px 0px #9cb0d8;
			}
		}
	}
	.file {
		text-align: center;
		.btn-create-file {
			&::before {
				content: "";
				width: 50px;
				height: 50px;
				background: #9cb2cd;
				margin-bottom: 11px;
				opacity: 0.2;
			}
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
			height: 283px;
			border: solid 1px #d7e3f1 !important;
			color: #9cb2cd;
		}
		li {
			border: 0 !important;
			img, .thumb {
				width: 100%;
				height: 283px;
				background-repeat: no-repeat !important;
				background-size: contain !important;
				background-position: center !important;
				border: 1px solid #efeff4;
				background: #fff;
				border-radius: 8px;
			}
			.file-name {
				text-align: left;
				margin: 0;
				padding: 12px 0px;
			}
			.btn-edit {
				position: absolute;
				right: 0;
				bottom: 12px;
				width: 20px;
				height: 20px;
				background: #b8b8b8;
    			border: 0;
			}
			&.select {
				.thumb {
					box-shadow: 0 0 10px 0px #9cb0d8;
				}
			}
		}
	}
}
.react-contextmenu {
	min-width: 140px;
	background: #fff;
	border: 1px solid #efeff4;
	font-size: 14px;
	.react-contextmenu-item {
		padding: 15px 20px;
		cursor: pointer;
		transition: background 0s;
		&:hover {
			background: rgba(245, 245, 245, 0.5);
		}
		&:not(:last-child) {
			border-bottom: 1px solid #efeff4;
		}
	}
}
